<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Title:</h4>
      <div class="form-group">
        <b><%= form.text_field :title, placeholder: "Story Title", class: "form-control" %></b>
      </div>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= form.text_area :body, placeholder: "What's the story...", class: "form-control", rows: "17" %>
      </div>
    </div>
    <div class="panel-footer">
      <div class="actions">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
