<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">
        Stories on <%= current_user.username %>'s bookshelf:
      </h2>
    </div>
    <div class="panel-body">
      <ul>
        <% @stories.each do |story| %>
          <% if current_user.id == story.user.id %>
            <div class="row">
              <li>
                <div class="col-md-4"><b><%= link_to story.title, story %></b></div>
                <div class="col-md-3"><b>Started:</b> <%= story.created_at.strftime('%b %d, %Y %l:%M%P') %></div>
                <div class="col-md-3"><b>Last Edit:</b> <%= story.updated_at.strftime('%b %d, %Y %l:%M%P') %></div>
                <div class="col-md-2">
                  <%= link_to 'Edit', edit_story_path(story), class: "btn btn-success btn-xs" %>
                  <%= link_to 'Delete', story, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </li>
            </div>
          <% end %>        
        <% end %>
      </ul>
    </div>
  </div>
</div>
