<h1>New Story</h1>
<div class="row">
  <div class="col-md-8">
    <%= render 'form', story: @story %>
  </div>
  <div class="col-md-4"><br>
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong>Notes:</strong>
      </div>
      <div class="panel-body">
        <ul>
          <%= render 'notes/form', note: @note %>
          <% @story.notes.each do |note| %>
            <li>
              <%= note.note_entry %>
              <div class="pull-right">
                <%= link_to 'Delete note', note, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Back', stories_path, class: "btn btn-success btn-sm" %>
