<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @story.author %>
</p>

<p>
  <strong>Body:</strong>
  <%= @story.body %>
</p>

<p>
	<%= link_to 'Edit', edit_story_path(@story) %>
</p>

<div id="notes">
	<%= render 'notes/form', note: @note %>
	<% @story.notes.each do |note| %>
		<p>
			<%= note.author %> said...<br/>
			<%= note.note_entry %>
		</p>
	<% end %>
</div>

<p> 
	<%= link_to 'Back', stories_path %>
</p>
