<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">Information</h2>
        </div>
        <div class="panel-body">
          <h4>Welcome to Bookshelf</h4><p>This is where you can keep your creative writing works organized and accessible for whenever that great idea comes to mind. Maybe you are a poet, a budding novelist, or a lyricist, use <strong>Bookshelf</strong> to hold your creative work! Open your work item and make some notes, add to or edit your work.</p>
          <p><strong>Log in</strong> with your credentials, or if you are new to <strong>Bookshelf</strong>, click the button below to <strong>sign up</strong> for an account and let your creativity out to play!</p>
        </div>
        <div class="panel-footer">
          <%= render "devise/shared/links" %>
        </div>        
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Log in</h2>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
          </div>
          <div class="panel-footer">
            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-primary btn-sm" %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
